<%- include('partials/header') %>
<link rel="stylesheet" href="style/client/style.css" type="text/css">
<body>
    <div class="navbar">
        <img src="style/client/assets/images/steelcoLogo.png" class="steelcoLogo" alt="steelcoLogo" style="float:left;">
		<h1 style="position: absolute; right: 0;">Segnalazione degli infortuni</h1>
	</div>

    <div>
        <div class="view">
            <%- include('partials/client-page-dates') %>
        </div>
    </div>
    <script src="/style/client/script.js"></script>
</body>
</html>